body {
	margin: 0 auto;
	padding: 0 auto;
    font-family: "Arial", Times, serif;
}

/* ------- Menu et header ------- */
#header{
	position: relative;
	border-bottom: 1px solid grey;
    -moz-box-shadow: 0px 1px 5px #656565;
    -webkit-box-shadow: 0px 1px 5px #656565;
    -o-box-shadow: 0px 1px 5px #656565;
	box-shadow: 0px 1px 5px #656565;
	height : 75px;
	line-height: 75px;
	display: inline-block;
	width: 100%;
}
h1 {
	display: inline;
	color : #90005B;
	margin-left: 15px;
}
nav {
	float:right;
	margin-top: -15px;
	margin-right: 100px;
}
nav ul li {
	text-decoration: none;
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	color: grey;
	font-size: 18px;
    padding: 14px 30px;
}
nav ul li a:focus {
	color: #90005B;
}
nav ul li a:hover {
	color: #90005B;
}

nav ul li:hover {
	border-bottom: 5px solid #90005B;
}